## ######### Receiving Messages from Remote Hosts ##########
$Ruleset remote
*.* /var/log/remote.log
$Ruleset RSYSLOG_DefaultRuleset

module(load="imtcp" MaxSessions="500")
input(type="imtcp" port="{{TCP_PORT}}" Ruleset="remote")
