set spoolfile="{{ item['value']['spoolfile'] }}"
{% if item['value'].get('postponed', False) %}
set postponed = "{{ item['value']['postponed'] }}"
{% endif %}
{% if item['value']['record'] %}
set record="{{ item['value']['record'] }}"
{% else %}
unset record
{% endif %}

set from = "{{ item['value']['from'] }}"
set smtp_url = "{{ item['value']['smtp_url'] }}"
set ssl_force_tls = yes
set smtp_authenticators = "login"
set my_PW = `{{ item['value']['password'] }}`
set smtp_pass = $my_PW

{% if item['value'].get('customlines', False) %}
{% for line in item['value']['customlines'] %}
{{ line }}
{% endfor%}
{% endif%}
