[general]
# List of accounts to be synced, separated by a comma.
accounts = {{ ','.join(emails.keys()) }}
pythonfile = ~/.offlineimap/gkgetsecret.py

[mbnames]
enabled = yes
filename = ~/.mutt/mailboxes
header = "mailboxes "
peritem = "+%(accountname)s/%(foldername)s"
sep = " "
footer = "\n"

{% for name, acc in emails.items() %}

[Account {{name}}]
# Identifier for the local repository; e.g. the maildir to be synced via IMAP.
localrepository = {{name}}-local
# Identifier for the remote repository; i.e. the actual IMAP, usually non-local.
remoterepository = {{name}}-rep

[Repository {{name}}-local]
# OfflineIMAP supports Maildir, GmailMaildir, and IMAP for local repositories.
type = Maildir
# Where should the mail be placed?
localfolders = {{maildir}}/{{name}}

[Repository {{name}}-rep]
type = {{ acc['type'] }}
remotehost = {{ acc['remotehost'] }}
ssl = yes
sslcacertfile = /etc/ssl/ca-bundle.pem
remoteport = {{ acc['remoteport'] }}
remoteuser = {{ acc['remoteuser'] }}
remotepasseval = {{ acc['remotepasseval'] }}
{% endfor %}
